html{height:100%;}
body{min-height:100%;padding:0;margin:0;position:relative;font-family:'Roboto',sans-serif;}
body::after{content:'';display:block;height:100px;}
footer{position:absolute;bottom:0;width:100%;height:60px;background-color:#DDD;padding:20px 0;font-size:0.9em;}
h1{padding-bottom:12px;margin-bottom:32px;width:100%;border-bottom:3px solid #CCC;text-transform:uppercase;}
h4{font-size:1.25rem;padding:7px 0;color:#343a4a;border-bottom:1px dotted #343a4a;margin:0 0 20px;}
.navbar-fixed{position:fixed;width:100%;left:0;right:0;top:0;z-index:1000;}
.navbar-fixed .navbar-collapse > ul.nav.navbar-nav li{text-transform:uppercase;}
.wrap{padding-top:80px;min-height:500px;}
footer .copyright{}
footer .social-networks{font-size:20px;text-align:right;}
footer .social-networks a{margin-left:8px;}

.loading-info{position:fixed;top:0;z-index:1000;text-align:center;margin:auto;}
.slider{width:100%;height:2px;}
.line{position:absolute;background:#009900;width:100%;height:2px;}
.break{position:absolute;background:#FFFFFF;width:20px;height:2px;}
.dot1{-webkit-animation:loading 2s infinite;-moz-animation:loading 2s infinite;-ms-animation:loading 2s infinite;-o-animation:loading 2s infinite;animation:loading 2s infinite;}
.dot2{-webkit-animation:loading 2s 0.5s infinite;-moz-animation:loading 2s 0.5s infinite;-ms-animation:loading 2s 0.5s infinite;-o-animation:loading 2s 0.5s infinite;animation:loading 2s 0.5s infinite;}
.dot3{-webkit-animation:loading 2s 1s infinite;-moz-animation:loading 2s 1s infinite;-ms-animation:loading 2s 1s infinite;-o-animation:loading 2s 1s infinite;animation:loading 2s 1s infinite;}
@keyframes loading { from { left: 0; } to { left: 100%; } }
@-moz-keyframes loading { from { left: 0; } to { left: 100%; } }
@-webkit-keyframes "loading" { from { left: 0; } to { left: 100%; } }
@-ms-keyframes loading { from { left: 0; } to { left: 100%; } }
@-o-keyframes "loading" { from { left: 0; } to { left: 100%; } }

.post .publish{font-size:0.9em;color:#999;width:100%;text-align:right;}

@media (min-width: 768px) {
    .navbar-fixed .navbar-collapse > ul.nav.navbar-nav{float:right;}
}