/* BASE */
html{height:100%;}
body{min-height:100%;padding:0;margin:0;position:relative;font-family:'Roboto',Arial;}
body::after{content:'';display:block;height:20px;}
header{/*position:fixed;left:0;right:0;top:0;z-index:1000;*/width:100%;height:70px;background:linear-gradient(#000,#131313,#1c1c1c 50%,#040404 50%,#000);color:#FFF;border:0;border-top:2px solid #000;}
a,a:hover,a:focus{color:#ED4000;}
footer{width:100%;height:80px;background-color:#000;border-radius:4px;color:#555;padding:16px 16px;}
footer .copyright{}
footer .social-networks{font-size:20px;text-align:right;}
footer .social-networks a{margin-left:8px;color:#555;}
.wrap{margin-top:16px;min-height:500px;background-color:#ebebeb;border:1px solid #000;background-color:#000;border-radius:4px;}
.wrap-container{min-height:500px;border:8px solid #222;border-radius:4px;background-color:#ebebeb;padding:0 8px;}

/* HEADER > USER */
header .container .row{position:relative;}
.user{position:absolute;top:8px;right:128px;min-width:240px;}
.user .avatar{position:absolute;border:1px solid #777;border-radius:4px;}
.user .avatar img{border:1px solid #222;border-radius:4px;}
.user .text{white-space:nowrap;margin-top:8px;margin-left:64px;}
.user .text .username{font-weight:bold;}
.user .text .actions{font-size:0.9em;}
.user .text .username a,.user .text .username a{color:#FFF;}

/* WEB */
body{background:#000 url(../images/bg_0.png) repeat-y center;}
body.error .wrap{background:#000 url(../images/error.jpg) right top no-repeat;background-size:640px;}
body.error .wrap-container{background-color:transparent;min-height:640px;padding:64px;}
body.error .wrap-container .title{font-size:2.4em;color:#FFF;text-transform:uppercase;margin-bottom:8px;font-weight:bold;font-family:'Roboto Condensed',Arial;}
body.error .wrap-container .message{font-size:1.5em;color:#d7dc8e;margin-bottom:64px;font-weight:bold;font-family:'Roboto Condensed',Arial;}
.header{font-family:'Roboto Condensed',Arial;font-weight:bold;background:linear-gradient(#000,#131313,#1c1c1c 50%,#040404 50%,#000);border-radius:4px;box-shadow:0 0 1px rgba(0,0,0,0.4);text-transform:uppercase;color:#FFF;height:29px;padding:4px 8px;margin-bottom:8px;}

/* SECCIONES */
.section{background-color:#FFF;padding:4px;background-color:#FFF;border-radius:4px;margin:16px 0;}
.login{margin:8px 32px;}
.login .left{border-right:1px solid #CCC;}
.articles{min-height:100px;}
/* TAGS */
ul.list-tags,ul.list-stags{padding:0;margin:0;list-style:none;white-space:nowrap;float:left;clear:left;height:32px;width:100%;}
ul.list-tags li,ul.list-stags li{margin-right:2px;float:left;display:inline;margin:0 0 0 1px;height:32px;padding-top:8px;}
ul.list-tags li a,ul.list-stags li a{color:#FFF;text-decoration:none;font-weight:bold;cursor: pointer;font:14px "Roboto",Arial;padding:10px 12px 0 12px;}
ul.list-tags li{border-right:1px solid #333;}
ul.list-tags li.active,ul.list-stags li.active{border-right:0;position:relative;background-color:#ED4000;border-top-left-radius:4px;border-top-right-radius:4px;}
ul.list-tags li.active{height:34px;background-color:#ff5415;}
ul.list-stags{background:-webkit-linear-gradient(top,#ff5415,#aa2f01);background:-moz-linear-gradient(top,#ff5415,#aa2f01);background:-o-linear-gradient(top,#ff5415,#aa2f01);background:-ms-linear-gradient(top,#ff5415,#aa2f01);background:linear-gradient(top,#ff5415,#aa2f01);border-radius:4px;}
ul.list-stags li a{font-size:0.8em;font-weight:normal;}
/* SECTIONS */
ul.list-sections{padding:0;margin:0;list-style:none;white-space:nowrap;float:left;clear:left;height:28px;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.5) inset;background:-webkit-linear-gradient(top,#fff 40%,#e8e8e8);background:-moz-linear-gradient(top,#fff 40%,#e8e8e8);background:-o-linear-gradient(top,#fff 40%,#e8e8e8);background:-ms-linear-gradient(top,#fff 40%,#e8e8e8);background:linear-gradient(top,#fff 40%,#e8e8e8);width:100%;}
ul.list-sections li{float:left;display:inline;margin:0 0 0 1px;height:28px;padding-top:4px;}
ul.list-sections li a{font-weight:bold;cursor: pointer;font:13px "Roboto",Arial;color:#000;padding:6px 8px 0 8px;}
ul.list-sections li.active{position:relative;border-radius:4px;background: -webkit-linear-gradient(top,#ff5415,#aa2f01);background:-moz-linear-gradient(top,#ff5415,#aa2f01);background:-o-linear-gradient(top,#ff5415,#aa2f01);background:-ms-linear-gradient(top,#ff5415,#aa2f01);background:linear-gradient(top,#ff5415,#aa2f01);}
ul.list-sections li.active a{color:#FFF;}
ul.list-sections li.active:after{border-color: #aa2f01 transparent transparent transparent;z-index:1;bottom:-4px;left:50%;width:0;position:absolute;content:" ";margin-left:-5px;height:0;border-style:solid;border-width:5px 5px 0 5px;filter:drop-shadow(0 2px 1px rgba(255,255,255,1));}

/* ARTÃCULOS */
.articles-empty{padding:12px 4px;color:#777;}

.article{margin:16px 0;padding:8px 0;border-bottom:1px solid #CCC;position:relative;}
.article .image{position:relative;}
.article.left.mini .image .comments{display:none;}
.article .image img{width:100%;border-radius:4px;margin-bottom:4px;}
.article .image .over{position:absolute;bottom:2px;left:0;width:100%;text-align:center;color:#FFF;font-weight:bold;}
.article .image .over.score{background-color:#ED4000;opacity:0.8;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.article .text .type{font-size:10px;font-weight:bold;text-transform:uppercase;color:#ED4000}
.article .text .title a{color:#000;font-size:1.2em;font-weight:bold;}
.article .text .content{color:rgb(85, 85, 85);}
.article .text .info{margin-top:6px;color:#777;font-size:0.8em;}
.article .text .info .fa-comment{color:#AAA;margin-right:2px;}
.article .image .over.over-title{display:none;}
.article .image .comments{position:absolute;top:8px;left:0;padding-left:70px;text-align:center;width:100px;font-weight:bold;display:none;}

.article.left{min-height:130px;}
.article.left .image img{width:200px;}
.article.left .image{position:absolute;top:0;left:0;}
.article.left .text{margin-left:210px;}

.article.top{border-bottom:0;}
.article .text{padding:0 4px;}
.article.top .text .type{display:none;}
.article.top .text .title a{font-size:1em;font-weight:normal;}
.article.top .text .content{display:none;}
.article.top.analisis .text .content{display:block;}

.article.left.mini{margin:0;padding:0;border:0;min-height:44px;}
.article.left.mini .text{margin-left:120px;}
.article.left.mini .image{width:110px;border-radius:4px;background:-webkit-linear-gradient(top,#fff 40%,#e8e8e8);background:-moz-linear-gradient(top,#fff 40%,#e8e8e8);background:-o-linear-gradient(top,#fff 40%,#e8e8e8);background:-ms-linear-gradient(top,#fff 40%,#e8e8e8);background:linear-gradient(top,#fff 40%,#e8e8e8);}
.article.left.mini .image .comments{display:block;text-decoration:none;color:#222;}
.article.left.mini .image img{width:64px;margin:2px;margin-bottom:2px;}
.article.left.mini .title{font-size:0.8em;padding-top:8px;}
.article.left.mini .type,
.article.left.mini .content,
.article.left.mini .info{display:none;}
/*.article.top .image .over.over-title{display:block;}*/

/* LOADING */
.loading-info{position:fixed;top:0;z-index:1000;text-align:center;margin:auto;}
.slider{width:100%;height:2px;}
.line{position:absolute;background:#009900;width:100%;height:2px;}
.break{position:absolute;background:#FFFFFF;width:20px;height:2px;}
.dot1{-webkit-animation:loading 2s infinite;-moz-animation:loading 2s infinite;-ms-animation:loading 2s infinite;-o-animation:loading 2s infinite;animation:loading 2s infinite;}
.dot2{-webkit-animation:loading 2s 0.5s infinite;-moz-animation:loading 2s 0.5s infinite;-ms-animation:loading 2s 0.5s infinite;-o-animation:loading 2s 0.5s infinite;animation:loading 2s 0.5s infinite;}
.dot3{-webkit-animation:loading 2s 1s infinite;-moz-animation:loading 2s 1s infinite;-ms-animation:loading 2s 1s infinite;-o-animation:loading 2s 1s infinite;animation:loading 2s 1s infinite;}
@keyframes loading { from { left: 0; } to { left: 100%; } }
@-moz-keyframes loading { from { left: 0; } to { left: 100%; } }
@-webkit-keyframes "loading" { from { left: 0; } to { left: 100%; } }
@-ms-keyframes loading { from { left: 0; } to { left: 100%; } }
@-o-keyframes "loading" { from { left: 0; } to { left: 100%; } }

/* SIZES */
@media (min-width: 768px) {
    .navbar-fixed .navbar-collapse > ul.nav.navbar-nav{float:right;}
}
@media (max-width: 768px) {
    .user{right:8px;}
}